div {
background-color: #05e4e4

}
body {
  margin: 0;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

h1 {
  margin-top: 0;
  font-family: 'Mitr', sans-serif;
  font-size: 5.625rem;
  }
  h2 {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 2.5rem;
  }

.example-div {
  background-color: rgb(159, 5, 220);
height: 300px;
width: 300px;
padding: 20px;
}
.Top-Header {
  position: relative;
  background-color: #262637;
  padding-top: 100px;
}

.star1 {
  position: absolute;
  top: 50px;
  right: 500px;
}

.star2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.star3 {
  position: absolute;
  left: 50px;
  bottom: 150px;
}

.star4 {
  position: absolute;
  right: 150px;
  top: 200px;
}

.star5 {
  position: absolute;
  right: 50px;
  top: 300px;
}

.exp {
  border-style: double;
}


.skill-row {
  border-style: double;
}

td {
 width: 100%;
}

.btn{
  border: solid;
  background-color: gold;
}

.navbar-brand{
  color: rgb(255, 255, 255);
}

.nav-link{
  color: rgb(247, 247, 247);
}

.astapon{
  border: 10px solid rgb(255, 2, 107);
  border-radius: 50%;
}

table{
  border: 5px solid rgb(91, 83, 83)
}